

 
 <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">RpaSolution</span>
          </a>
          <p>Optimisez vos opérations avec nos solutions d'automatisation. Gagnez en efficacité, réduisez les erreurs et concentrez-vous sur ce qui compte vraiment..</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens Utiles :</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#"> Nos Services</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>
  
        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li><a href="#">Automatisation de Traitement des Emailss</a></li>
            <li><a href="#">Automatisation des Processus Métiers</a></li>
            <li><a href="#">Gestion des Données</a></li>
            <li><a href="#">Automatisation des Rapports</a></li>
            <li><a href="#">Intégration des Systèmes</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>123 Rue des Solutions,</p>
          <p>Marrakech,  Maroc</p>
           
          <p class="mt-4"><strong>Phone:</strong> <span>+212 589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@RpaSolution.com</span></p>
        </div>
  
      </div>
    </div>
  
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">RpaSolution</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">AMDDAH Abdelkbir</a>
      </div>
    </div>
  
  </footer>
   