
    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <img src="assets/img/hero-bg-abstract.jpg" alt=""   class="">
  
        <div class="container">
          <div class="row justify-content-center"  >
            <div class="col-xl-8 col-lg-10 text-center">
              <h1>Automatisation Robotisée des Processus   </h1>
              <p>Nous sommes une équipe d'experts en automatisation, optimisant les processus métier avec des solutions RPA</p>
            </div>
          </div>
          <div class="text-center"   >
            <a href="#about" class="btn-get-started">Démarrer</a>
          </div>
  
          <div class="row gy-4 mt-5">
            <div class="col-md-6 col-lg-3"  >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-gear-fill"></i></div>
                <h4 class="title"><a href="">Optimisation des Processus</a></h4>
                <p class="description">Développez des flux de travail automatisés qui transforment les tâches répétitives en processus fluides et efficients</p>
              </div>
            </div><!--End Icon Box -->
  
            <div class="col-md-6 col-lg-3"  >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-chat-dots"></i></div>
                <h4 class="title"><a href="">Réponse Automatique aux Emails</a></h4>
                <p class="description">Automatisez les réponses aux demandes courantes et concentrez-vous sur ce qui compte vraiment</p>
              </div>
            </div><!--End Icon Box -->
  
            <div class="col-md-6 col-lg-3"  >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
                <h4 class="title"><a href="">Extraction Automatique des Données</a></h4>
                <p class="description">Recueillez et traitez les informations critiques de vos emails en un clin d'œil, sans effort manuel</p>
              </div>
            </div><!--End Icon Box -->
  
            <div class="col-md-6 col-lg-3"  >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bell"></i></div>
                <h4 class="title"><a href="">Gestion des Notifications</a></h4>
                <p class="description">Restez informé en temps réel avec des notifications instantanées pour chaque événement important </p>
              </div>
            </div><!--End Icon Box -->
  
          </div>
        </div>
  
      </section><!-- /Hero Section -->

      
    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" >
        <h2>À propos de nous<br></h2>
         
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" >
            
            <p>
              Nous sommes spécialisés dans la fourniture de solutions d’automatisation de processus pour optimiser vos opérations et améliorer la productivité de votre entreprise. Avec une expertise dans le traitement automatisé des emails, l’extraction de données et la gestion intelligente des flux de travail, nous vous aidons à automatiser les tâches répétitives et à vous concentrer sur l'essentiel.
            </p>
            <b> <i>Pourquoi nous choisir ?</i> </b>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Expertise éprouvée dans le domaine de l’automatisation.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Solutions personnalisées adaptées à vos besoins spécifiques.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Support client dédié et réactif.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" >
            <b> <i>Notre Mission</i> </b>
            <p>Notre mission est de simplifier les processus métiers complexes grâce à des technologies d’automatisation avancées. Nous croyons fermement que l’automatisation permet non seulement de gagner du temps, mais aussi de réduire les erreurs et d’améliorer la qualité des résultats. </p>
            <a href="#" class="read-more"><span>En savoir plus</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <app-footer></app-footer>